//============================================================
// Name:            Accordion
// Description:     Component to create accordions
//
// Component:       `#{$prefix}-accordion`
//
// Sub-objects:     `#{$prefix}-accordion-title`
//                  `#{$prefix}-accordion-content`
//
// States:          `#{$prefix}-open`
//
// ============================================================


// Variables
// ============================================================

$accordion-item-margin-top:                     margin(global) !default;

$accordion-title-font-size:                     font-size(medium) !default;
$accordion-title-line-height:                   1.4 !default;
$accordion-title-color:                         color(default) !default;
$accordion-title-hover-color:                   color(emphasis) !default;

$accordion-content-margin-top:                  margin(global) !default;


/* ============================================================
  Component: Accordion
 ============================================================ */

.#{$prefix}-accordion {
    padding: 0;
    list-style: none;
}



/* Item
   ============================================================ */

.#{$prefix}-accordion > :nth-child(n+2) {
    margin-top: $accordion-item-margin-top;
}



/* Title
   ============================================================ */

.#{$prefix}-accordion-title {
    display: block;
    font-size: $accordion-title-font-size;
    line-height: $accordion-title-line-height;
    color: $accordion-title-color;
}

/* Hover + Focus */
.#{$prefix}-accordion-title:hover,
.#{$prefix}-accordion-title:focus {
    color: $accordion-title-hover-color;
    text-decoration: none;
    outline: none;
}



/* Content
   ============================================================ */

/*
 * 1. Hide by default
 */

.#{$prefix}-accordion-content {
    margin-top: $accordion-content-margin-top;

    /* 1 */
    display: none;
}

/* Show */
.#{$prefix}-accordion-content.#{$prefix}-open {
    display: block;
}


/*
 * Micro clearfiox
 */

.#{$prefix}-accordion-content {
    @include clearfix;
}

.#{$prefix}-accordion-content > :last-child {
    margin-bottom: 0;
}
