// ============================================================
// Name:            Alert
// Description:     Component to create alert messages
//
// Component:       `#{$prefix}-alert`
//
// Adopted:         `#{$prefix}-alert-close`
//
// Modifiers:       `#{$prefix}-alert-primary`
//                  `#{$prefix}-alert-success`
//                  `#{$prefix}-alert-warning`
//                  `#{$prefix}-alert-danger`
//
// ============================================================


// Variables
// ============================================================

$alert-margin-vertical:                          margin(global) !default;
$alert-padding:                                  gutter(small) - 5px !default;
$alert-padding-right:                            $alert-padding + 14px !default;
$alert-background:                               background-color(wrapper) !default;
$alert-color:                                    color(default) !default;

$alert-close-top:                                margin(small) !default;
$alert-close-right:                              margin(small) + 5px !default;

$alert-primary-background:                       lighten(theme-color(primary), 40%) !default;
$alert-primary-color:                            color(primary) !default;

$alert-success-background:                       lighten(theme-color(success), 40%) !default;
$alert-success-color:                            color(success) !default;

$alert-warning-background:                       lighten(theme-color(warning), 40%) !default;
$alert-warning-color:                            color(warning) !default;

$alert-danger-background:                        lighten(theme-color(danger), 40%) !default;
$alert-danger-color:                             color(danger) !default;


/* ============================================================
   Component: Alert
   ============================================================ */

.#{$prefix}-alert {
    position: relative;
    margin-bottom: $alert-margin-vertical;
    padding: $alert-padding $alert-padding-right $alert-padding $alert-padding;
    background: $alert-background;
    color: $alert-color;
}

/* Add margin if adjacent element */
* + .#{$prefix}-alert {
    margin-top: $alert-margin-vertical;
}

/*
 * Remove margin from the last-child
 */

.#{$prefix}-alert > :last-child {
    margin-bottom: 0;
}



/* Close
 * Adopts `#{$prefix}-close`
   ============================================================ */

.#{$prefix}-alert-close {
    position: absolute;
    top: $alert-close-top;
    right: $alert-close-right;
}

/*
 * Remove margin from adjacent element
 */

.#{$prefix}-alert-close:first-child + * {
    margin-top: 0;
}




/* Style modifiers
   ============================================================ */

/*
 * Primary
 */

.#{$prefix}-alert-primary {
    background: $alert-primary-background;
    color: $alert-primary-color;
}

/*
 * Success
 */

.#{$prefix}-alert-success {
    background: $alert-success-background;
    color: $alert-success-color;
}

/*
 * Warning
 */

.#{$prefix}-alert-warning {
    background: $alert-warning-background;
    color: $alert-warning-color;
}

/*
 * Danger
 */

.#{$prefix}-alert-danger {
    background: $alert-danger-background;
    color: $alert-danger-color;
}

