// ============================================================
// Name:            State
// Description:     Component to state
//
// Component:       `#{$prefix}-state`
//
// Sub-ojects:      `#{$prefix}-state-title`
//                  `#{$prefix}-state-description`
//
// ============================================================

// Variables
// ============================================================
$state-margin-top:                  margin(medium) !default;
$state-padding-horizontal:          gutter(small) !default;

$state-title-font:                  'HelveticaNueueBold', 'Arial', sans-serif !default;
$state-title-font-size:             font-size(xlarge) !default;
$state-title-color:                 color(emphasis) !default;
$state-title-margin-top:            margin(global) !default;
$state-title-margin-bottom:         margin(xsmall) !default;

$state-description-font:            'HelveticaNueueLight', 'Arial', sans-serif !default;
$state-description-font-size:       font-size(small) !default;
$state-description-color:           color(muted) !default;

/* ============================================================
   Component: State
   ============================================================ */

/*
 * 1. Set Dimension
 * 2. Make the child vertical and horizontally align to center
 * 3. Set text to be on the middle
 * 4. Style
 */

.#{$prefix}-state {
    /* 1 */
    height: 100%;
    width: 100%;

    /* 2 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 3 */
    text-align: center;

    /* 4 */
    margin-top: $state-margin-top;
    padding: 0 $state-padding-horizontal;
    box-sizing: border-box;
}



/* Text modifier
   ============================================================ */

.#{$prefix}-state-title {
    font-family: $state-title-font;
    font-size: $state-title-font-size;
    color: $state-title-color;
    margin-top: $state-title-margin-top;
    margin-bottom: $state-title-margin-bottom;
}

.#{$prefix}-state-description {
    font-family: $state-description-font;
    font-size: $state-description-font-size;
    color: $state-description-color;
    margin: 0;
}
