// ============================================================
// Name:            Subnav
// Description:     Components to create a sub-navigation
//
// Component:       `#{$prefix}-subnav`
//
// Modifiers:       `#{$prefix}-subnav-divider`
//                  `#{$prefix}-subnav-divider`
//
// States:          `#{$prefix}-active`
//                  `#{$prefix}-first-column`
//
// ============================================================

// Variables
// ============================================================

$subnav-margin-vertical:                        gutter(small) !default;
$subnav-margin-horizontal:                      gutter(xsmall) !default;

$subnav-item-color:                             color(muted) !default;
$subnav-item-hover-color:                       color(default) !default;
$subnav-item-hover-text-decoration:             none !default;
$subnav-item-active-color:                      color(primary) !default;

$subnav-item-padding-vertical:                  2px !default;
$subnav-item-padding-horizontal:                margin(small) !default;

$subnav-divider-margin-horizontal:              $subnav-margin-horizontal !default;
$subnav-divider-border-height:                  1.5em !default;
$subnav-divider-border-width:                   border(width) !default;
$subnav-divider-border:                         border(color) !default;

$subnav-pill-item-padding-vertical:             margin(small) !default;
$subnav-pill-item-padding-horizontal:           gutter(small) !default;
$subnav-pill-item-background:                   transparent !default;
$subnav-pill-item-color:                        $subnav-item-color !default;
$subnav-pill-item-hover-background:             color(muted) !default;
$subnav-pill-item-hover-color:                  color(default) !default;
$subnav-pill-item-onclick-background:           $subnav-pill-item-hover-background !default;
$subnav-pill-item-onclick-color:                $subnav-pill-item-hover-color !default;
$subnav-pill-item-active-background:            color(primary) !default;
$subnav-pill-item-active-color:                 color(inverse) !default;

$subnav-item-disabled-color:                    color(idle) !default;



/* ============================================================
    Component: Subnav
   ============================================================ */


/*
 * 1. Allow items to wrap into the next line
 * 2. Reset list
 */

.#{$prefix}-subnav {
    display: flex;

    /* 1 */
    flex-wrap: wrap;

    /* 2 */
    padding: 0;
    margin: 0;
    list-style: none;
}

/*
 * 1. Space is allocated solely based on content dimensions: 0 0 auto
 * 2. Gutter
 * 3. Create position context for dropdowns
 */

.#{$prefix}-subnav > * {
    /* 1 */
    flex: none;

    /* 2 */
    padding-left: $subnav-margin-horizontal;

    /* 3 */
    position: relative;
}



/* Items
   ============================================================ */

/*
 * Items must target `a` elements to exclude other elements (e.g. dropdowns)
 * Using `:first-child` instead of `a` to support `span` elements for text
 * 1. Prevent gap if child element is `inline-block`, e.g. an icon
 * 2. Style
 */

.#{$prefix}-subnav > * > :first-child {
    /* 1 */
    display: block;

    /* 2 */
    color: $subnav-item-color;
}

.#{$prefix}-subnav > * > a {
    padding: $subnav-item-padding-vertical $subnav-item-padding-horizontal;
}

/* Hover + Focus */
.#{$prefix}-subnav > * > a:hover,
.#{$prefix}-subnav > * > a:focus {
    color: $subnav-item-hover-color;
    text-decoration: $subnav-item-hover-text-decoration;
    outline: none;
}

/* Active */
.#{$prefix}-subnav > .#{$prefix}-active > a {
    border-bottom: 2px solid theme-color(primary);
    color: $subnav-item-active-color;
}



/* Divider Modifier
   ============================================================ */

/*
 * 1. Align items and divider vertically
 */

.#{$prefix}-subnav-divider {
    /* 1 */
    display: flex;
    align-items: center;
}

/*
 * Divider
 * `nth-child` makes it also work without JS if it's only one row
 */

.#{$prefix}-subnav-divider > :nth-child(n+2):not(.uis-first-column):before {
    content: '';
    height: $subnav-divider-border-height;
    margin-left: ($subnav-divider-margin-horizontal - $subnav-margin-horizontal);
    margin-right: $subnav-divider-margin-horizontal;
    border-left: $subnav-divider-border-width solid $subnav-divider-border;
}


/* Pill modifier
   ============================================================ */

.#{$prefix}-subnav-pill > * > :first-child {
    padding: $subnav-pill-item-padding-vertical $subnav-pill-item-padding-horizontal;
    background: $subnav-pill-item-background;
    color: $subnav-pill-item-color;
}

/* Hover + Focus */
.#{$prefix}-subnav-pill > * > a:hover,
.#{$prefix}-subnav-pill > * > a:focus {
    background-color: $subnav-pill-item-hover-background;
    color: $subnav-pill-item-hover-color;
}

/* OnClick */
.#{$prefix}-subnav-pill > * > a:active {
    background-color: $subnav-pill-item-onclick-background;
    color: $subnav-pill-item-onclick-color;
}

/* Active */
.#{$prefix}-subnav-pill > .#{$prefix}-active > a {
    background-color: $subnav-pill-item-active-background;
    color: $subnav-pill-item-active-color;
}



/* Disabled
 * The same for all style modifiers
   ============================================================ */

.#{$prefix}-subnav > .#{$prefix}-disabled > a {
    color: $subnav-item-disabled-color;
}
