//    ============================================================
// Name:            Thread
// Description:     Component to create notification messages
//
// Component:       `#{$prefix}-toast`
//
// Sub-objects:     `#{$prefix}-toast-toast`
//
// Adopted:         `#{$prefix}-toast-close`
//
// Modifiers:       `#{$prefix}-toast-top-center`
//                  `#{$prefix}-toast-top-right`
//                  `#{$prefix}-toast-bottom-left`
//                  `#{$prefix}-toast-bottom-center`
//                  `#{$prefix}-toast-bottom-right`
//                  `#{$prefix}-toast-toast-primary`
//                  `#{$prefix}-toast-toast-success`
//                  `#{$prefix}-toast-toast-warning`
//                  `#{$prefix}-toast-toast-danger`
//
// ============================================================


// Variables
// ============================================================

/* ============================================================
   Component: toast
   ============================================================== */
$thread-comment-body-padding-vertical:      gutter(medium) !default;
$thread-comment-body-padding-horizontal:    gutter(small) !default;

$thread-comment-border-width:               border(width) !default;
$thread-comment-border-color:               border(color) !default;
$thread-comment-border-radius:              10px !default;

$thread-textarea-background:                background-color(background) !default;
$thread-textarea-padding-vertical:          margin(small) !default;
$thread-textarea-padding-horizontal:        margin(small) !default;

.#{$prefix}-thread-comment {
    border: $thread-comment-border-width solid $thread-comment-border-color;
    border-radius: $thread-comment-border-radius;
    overflow: hidden;
}

.#{$prefix}-thread-comment-body {
    padding: $thread-comment-body-padding-vertical $thread-comment-body-padding-horizontal;
    box-sizing: border-box;
}


/* Textarea modifier
   ============================================================ */

.#{$prefix}-textarea.#{$prefix}-thread-textarea {
    border: none;
    background: $thread-textarea-background;
    padding: $thread-textarea-padding-vertical $thread-textarea-padding-horizontal;
}


.#{$prefix}-textarea.#{$prefix}-thread-textarea:focus {
    border: none;
    background: $thread-textarea-background;
}
