//    ============================================================
// Name:            toast
// Description:     Component to create notification messages
//
// Component:       `#{$prefix}-toast`
//
// Sub-objects:     `#{$prefix}-toast-toast`
//
// Adopted:         `#{$prefix}-toast-close`
//
// Modifiers:       `#{$prefix}-toast-top-center`
//                  `#{$prefix}-toast-top-right`
//                  `#{$prefix}-toast-bottom-left`
//                  `#{$prefix}-toast-bottom-center`
//                  `#{$prefix}-toast-bottom-right`
//                  `#{$prefix}-toast-toast-primary`
//                  `#{$prefix}-toast-toast-success`
//                  `#{$prefix}-toast-toast-warning`
//                  `#{$prefix}-toast-toast-danger`
//
// ============================================================


// Variables
// ============================================================

$toast-position:                            10px !default;
$toast-z-index:                             layer(toast) !default;
$toast-width:                               350px !default;

$toast-item-margin-top:                     10px !default;
$toast-item-padding:                        gutter(xsmall) !default;
$toast-item-background:                     background-color(background) !default;
$toast-item-color:                          color(default) !default;
$toast-item-font-size:                      font(size) !default;
$toast-item-line-height:                    1.4 !default;

$toast-close-top:                           $toast-item-padding + 5px !default;
$toast-close-right:                         $toast-item-padding !default;

$toast-item-primary-background:             lighten(color(primary), 40%) !default;
$toast-item-primary-color:                  color(primary) !default;

$toast-item-success-background:             lighten(color(success), 40%) !default;
$toast-item-success-color:                  color(success) !default;

$toast-item-warning-background:             lighten(color(warning), 40%) !default;
$toast-item-warning-color:                  color(warning) !default;

$toast-item-danger-background:              lighten(color(danger), 40%) !default;
$toast-item-danger-color:                   color(danger) !default;


/* ============================================================
   Component: toast
   ============================================================== */

/*
 * 1. Set position
 * 2. Dimensions
 */

.#{$prefix}-toast {
    /* 1 */
    position: fixed;
    top: $toast-position;
    left: $toast-position;
    z-index: $toast-z-index;

    /* 2 */
    box-sizing: border-box;
    width: $toast-width;
}



/* Position modifiers
   ============================================================ */

.#{$prefix}-toast-top-right,
.#{$prefix}-toast-bottom-right {
    left: auto;
    right: $toast-position;
}

.#{$prefix}-toast-top-center,
.#{$prefix}-toast-bottom-center {
    left: 50%;
    margin-left: ($toast-width / -2);
}

.#{$prefix}-toast-bottom-left,
.#{$prefix}-toast-bottom-right,
.#{$prefix}-toast-bottom-center {
    top: auto;
    bottom: $toast-position;
}



/* Responsiveness
   ============================================================ */

/* Phones portrait and smaller */
@media (max-width: respond-to-max(xsmall)) {

    .#{$prefix}-toast {
        left: $toast-position;
        right: $toast-position;
        width: auto;
        margin: 0;
    }
}



/* toast
   ============================================================ */

.#{$prefix}-toast-message {
    position: relative;
    padding: $toast-item-padding;
    background: $toast-item-background;
    color: $toast-item-color;
    font-size: $toast-item-font-size;
    line-height: $toast-item-line-height;
    cursor: pointer;
}

* + .#{$prefix}-toast-message {
    margin-top: $toast-item-margin-top;
}



/* Close
 * Adopts `#{$prefix}-close`
   ============================================================ */

.#{$prefix}-toast-close {
    display: none;
    position: absolute;
    top: $toast-close-top;
    right: $toast-close-right;
}

.#{$prefix}-toast-message:hover .#{$prefix}-toast-close {
    display: block;
}



/* Style modifiers
   ============================================================ */

/*
 * Primary
 */

.#{$prefix}-toast-message-primary {
    background-color: $toast-item-primary-background;
    color: $toast-item-primary-color;
}

/*
 * Success
 */

.#{$prefix}-toast-message-success {
    background-color: $toast-item-success-background;
    color: $toast-item-success-color;
}

/*
 * Warning
 */

.#{$prefix}-toast-message-warning {
    background-color: $toast-item-warning-background;
    color: $toast-item-warning-color;
}

/*
 * Danger
 */

.#{$prefix}-toast-message-danger {
    background-color: $toast-item-danger-background;
    color: $toast-item-danger-color;
}
