//  ============================================================
//  Name:               All
//  Description:        Global styles
//
//  Component:          `#{$prefix}-notification`
//
//  ============================================================

//  ============================================================
//  Variables
//  ============================================================


/* ============================================================
    Component: Notification
   ============================================================ */

.#{$prefix}-notification {
    width: 250px;
    max-width: 300px;
}
