//  ============================================================
//  Name:               Auth
//  Description:        Styles for authentication page
//
//  Component:          `#{$prefix}-auth-wrapper`
//                      `#{$prefix}-auth-copyright`
//
//  ============================================================

//  ============================================================
//  Variables
//  ============================================================

/* ============================================================
    Page: Flags
   ============================================================ */

.#{$prefix}-flags-header {
    width: calc(100% - 50px);
}


/* Dropdown
   ============================================================ */

.#{$prefix}-flags-dropdown {
    position: absolute;
    top: 0;
    right: 0;
}



/* Modal
   ============================================================ */
.#{$prefix}-flag-item-level-modal .#{$prefix}-flag-item-level-modal-badge {
    position: absolute;
    top: 0;
    left: 30px;
    padding: 40px 10px 10px;
    background-color: #FF7321;
    color: #FFFFFF;
    font-weight: 300;
}

.#{$prefix}-flag-item-level-modal-header-content {
    margin-top: 70px;
}

.#{$prefix}-flags-accountable-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
