// ============================================================
// Name:            Chips
// Description:     Component to create chips
//
// Component:       `#{$prefix}-chips`
//
// Sub-objects:     `#{$prefix}-chips-title`
//
// Modifiers:       `#{$prefix}-chips-large`
//
// ============================================================


// Variables
// ============================================================

$chips-padding-horizontal:                      20px !default;
$chips-padding-vertical:                        round($chips-padding-horizontal / 2) !default;

$chips-padding-horizontal-l:                    gutter(small) !default;
$chips-padding-vertical-l:                      round($chips-padding-horizontal-l / 2) !default;

$chips-background:                              background-color(wrapper) !default;
$chips-color:                                   color(primary) !default;
$chips-border-radius:                           10px !default;

$chips-title-font-size:                         font-size(medium) !default;
$chips-title-color:                             color(emphasis) !default;


$chips-close-margin:                            12px !default;
$chips-close-color:                             color(default) !default;


/* ============================================================
    Component: Chips
   ============================================================ */

.#{$prefix}-chips {
    position: relative;
    box-sizing: border-box;

    background-color: $chips-background;
    color: $chips-color;
    padding: $chips-padding-vertical $chips-padding-horizontal;
    border-radius: $chips-border-radius;

    overflow: hidden;
}

.#{$prefix}-chips:not(:first-child) {
    margin-left: margin(small);
}

.#{$prefix}-chips:hover .#{$prefix}-chips-close {
    opacity: 1;
}



/* Size Modifier
   ============================================================ */

.#{$prefix}-chips-large {
    padding: $chips-padding-vertical-l $chips-padding-horizontal-l;
}



/* Title
   ============================================================ */

.#{$prefix}-chips-title {
    font-size: $chips-title-font-size;
    color: $chips-title-color;
}



/* Close
   ============================================================ */

/*
 * 1. Hide by default
 * 2. Set Dimension
 * 3. Set position
 * 4. Align content
 * 5. Style
 */
.#{$prefix}-chips-close {
    /* 1 */
    opacity: 0;

    /* 2 */
    height: 100%;
    width: 100%;

    /* 3 */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    /* 4 */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    /* 5 */
    transition: all 0.15s linear;
    background: linear-gradient(90deg, rgba(222, 227, 255, 0), rgba(222, 227, 255, 1));
}

.#{$prefix}-chips-close > .#{$prefix}-close {
    margin-right: $chips-close-margin;
    color: $chips-close-color;
}
