// ============================================================
// Name:            Close
// Description:     Component to create a close button
//
// Component:       `#{$prefix}-close`
//
// Modifier:        `#{$prefix}-close-inverse`
//
// ============================================================


// Variables
// ============================================================

$close-color:                   color(muted) !default;
$close-hover-color:             color(emphasis) !default;

$close-color-inverse:           darken(color(inverse), 10%) !default;
$close-color-hover-inverse:     color(inverse) !default;

/* ============================================================
    Component: Close
   ============================================================ */

/*
 * Adopts `li-icon`
 */

.#{$prefix}-close {
    color: $close-color;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover + Focus */
.#{$prefix}-close:hover,
.#{$prefix}-close:active {
    color: $close-hover-color;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}


/* Style modifiers
   ============================================================ */
.#{$prefix}-close-inverse {
    color: $close-color-inverse;
}

/* Hover + Focus */
.#{$prefix}-close-inverse:hover,
.#{$prefix}-close-inverse:active {
    color: $close-color-hover-inverse;
    outline: none;
    cursor: pointer;
}
