// ============================================================
// Name:            Placeholder
// Description:     Components to create placeholders
//
// Component:       `uis-placeholder-bar`
//                  `uis-placeholder-block`
//                  `uis-placeolder-avatar`
//
//
// Modifiers:       `uis-placeholder-bar-xsmall`
//                  `uis-placeholder-bar-small`
//                  `uis-placeholder-bar-medium`
//                  `uis-placeholder-bar-large`
//
//                  `uis-placeholder-block-xsmall`
//                  `uis-placeholder-block-small`
//                  `uis-placeholder-block-medium`
//                  `uis-placeholder-block-large`
//                  `uis-placeholder-block-xlarge`
//
//                  `uis-placeholder-avatar-xsmall`
//                  `uis-placeholder-avatar-small`
//                  `uis-placeholder-avatar-medium`
//                  `uis-placeholder-avatar-large`
//                  `uis-placeholder-avatar-xlarge`
//
// ============================================================


// Variables
// ============================================================

$placeholder-border-radius:                         border(radius) !default;

$placeholder-default-background:                    #DADADA !default;
$placeholder-default-color:                         color(default) !default;
$placeholder-primary-background:                    color(primary) !default;
$placeholder-primary-color:                         color(inverse) !default;

$placeholder-bar-height-xs:                         10px !default;
$placeholder-bar-height-s:                          16px !default;
$placeholder-bar-height:                            24px !default;
$placeholder-bar-height-m:                          36px !default;
$placeholder-bar-height-l:                          46px !default;

$placeholder-block-height-xs:                       100px !default;
$placeholder-block-height-s:                        200px !default;
$placeholder-block-height:                          300px !default;
$placeholder-block-height-m:                        400px !default;
$placeholder-block-height-l:                        500px !default;
$placeholder-block-height-xl:                       600px !default;

$placeholder-avatar-height-xs:                      24px !default;
$placeholder-avatar-width-xs:                       $avatar-height-xs !default;
$placeholder-avatar-height-s:                       32px !default;
$placeholder-avatar-width-s:                        $avatar-height-s !default;
$placeholder-avatar-height:                         48px !default;
$placeholder-avatar-width:                          $avatar-height !default;
$placeholder-avatar-height-m:                       64px !default;
$placeholder-avatar-width-m:                        $avatar-height-m !default;
$placeholder-avatar-height-l:                       96px !default;
$placeholder-avatar-width-l:                        $avatar-height-l !default;
$placeholder-avatar-height-xl:                      128px !default;
$placeholder-avatar-width-xl:                       $avatar-height-xl !default;


/* ============================================================
    Component: Placeholder
   ============================================================ */

.uis-placeholder {
    position: relative;
    box-sizing: border-box;

    border-radius: $placeholder-border-radius;
    background-color: $placeholder-default-background;
    color: $placeholder-default-color;

    display: inline-block;
    vertical-align: middle;
    cursor: default;
}

.uis-placeholder:first-child {
    margin-left: 0px;
}



/* Bar
 * Use in table data or card labels
   ============================================================ */

.uis-placeholder-bar {
    width: 100%;
    height: $placeholder-bar-height;
}

/* Extra Small */
.uis-placeholder-bar-xsmall {
    height: $placeholder-bar-height-xs;
}

/* Small */
.uis-placeholder-bar-small {
    height: $placeholder-bar-height-s;
}

/* medium */
.uis-placeholder-bar-medium {
    height: $placeholder-bar-height-m;
}

/* large */
.uis-placeholder-bar-large {
    height: $placeholder-bar-height-l;
}


/* Block
 * Use in map or big block
   ============================================================ */

.uis-placeholder-block {
    height: $placeholder-block-height;
    width: inherit;
}

/* Extra Small */
.uis-placeholder-block-xsmall {
    height: $placeholder-block-height-xs;
}

/* Small */
.uis-placeholder-block-small {
    height: $placeholder-block-height-s;
}

/* Medium */
.uis-placeholder-block-medium {
    height: $placeholder-block-height-m;
}

/* Large */
.uis-placeholder-block-large {
    height: $placeholder-block-height-l;
}

/* Extra Large */
.uis-placeholder-block-xlarge {
    height: $placeholder-block-height-xl;
}



/* Avatar
 * Use in without images
   ============================================================ */

.uis-placeholder-avatar {
    height: $placeholder-avatar-height;
    width: $placeholder-avatar-width;
    border-radius: border(radius);
}

/* Extra small */
.uis-placeholder-avatar-xsmall {
    height: $placeholder-avatar-height-xs;
    width: $placeholder-avatar-width-xs;
}

/* Small */
.uis-placeholder-avatar-small {
    height: $placeholder-avatar-height-s;
    width: $placeholder-avatar-width-s;
}

/* Medium */
.uis-placeholder-avatar-medium {
    height: $placeholder-avatar-height-m;
    width: $placeholder-avatar-width-m;
}

/* Large */
.uis-placeholder-avatar-large {
    height: $placeholder-avatar-height-l;
    width: $placeholder-avatar-width-l;
}

/* Extra Large */
.uis-placeholder-avatar-xlarge {
    height: $placeholder-avatar-height-xl;
    width: $placeholder-avatar-width-xl;
}
